@using Insurance.Domain
@model Car

@{
    ViewBag.Title = "Car Details";
    Layout = "_Layout";
}

<h2>Car Details</h2>
<table>
    <tr>
        <th>Brand</th><td>@Model.Brand</td>
    </tr>
    <tr>
        <th>Fuel</th><td>@Model.Fuel</td>
    </tr>
    <tr>
        <th>Seats</th><td>@Model.Seats</td>
    </tr>
    <tr>
        <th>Mileage</th><td>@Model.Mileage</td>
    </tr>
    <tr>
        <th>Purchaseprice</th>
        @{
            var PurchasePrice = Model.PurchasePrice != null ? Model.PurchasePrice.ToString() : "Not Known";
        }
        <td>@PurchasePrice</td>
    </tr>
</table>

<h3>Drivers / Rentals for this car</h3>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Rent Price</th>
        <th scope="col">Total Days</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Rental r in Model.Rentals)
    {
        <tr>
            <td>@r.Driver.FirstName @r.Driver.LastName</td>
            <td>@r.Driver.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@Math.Round(r.Price,2)</td>
            @{
                var d = (r.EndDate.Date - r.StartDate.Date).TotalDays;
            }
            <td>@d</td>
            <td>
                <a asp-controller="Driver" asp-action="Details" asp-route-socialnumber="@r.Driver.SocialNumber">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>