@inject IViewLocalizer _localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Insurance.Domain.Car>

@{
    ViewBag.Title = _localizer["All Cars"];
    Layout = "_Layout";
}

<!-- Titel -->
<h2>@_localizer["All Cars"]</h2>
<!-- tabel -->
<h5>@_localizer["Last Searched Data"]<strong style="color:red;">@DateTime.Now.ToString()</strong></h5><br/>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">@_localizer["Brand"]</th>
        <th scope="col">@_localizer["Fuel"]</th>
        <th scope="col">@_localizer["Seats"]</th>
        <th scope="col">@_localizer["Miles"]</th>
        <th scope="col">@_localizer["Purchaseprice"]</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Brand</td>
            <td>@car.Fuel</td>
            <td>@car.Seats</td>
            <td>@car.Mileage</td>
            @{
                var purchasePrice = car.PurchasePrice != null ? ((double)car.PurchasePrice).ToString ("c") : @_localizer["Not Known"].Value;
            }
            <td>@purchasePrice</td>
            <td>
                <a asp-controller="Car" asp-action="Details" asp-route-numberplate="@car.NumberPlate">@_localizer["Details"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>